<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.park.paycenter.mapper.Pc_current_accountsMapper">
	<!-- 定义数据库字段与实体对象的映射关系(SQL字段与类属性的映射关系，避免在SQL语句中使用as转换字段别名) -->
	<resultMap type="Pc_current_accounts" id="resultPc_current_accounts">
		<id property="id" column="id" />
		<result property="tradeType" column="trade_type" />
		<result property="income" column="income" />
		<result property="tradeNo" column="trade_no" />
		<result property="parkId" column="park_id" />
		<result property="terminalType" column="terminal_type" />
		<result property="returnUrl" column="return_url" />
		<result property="notifyUrl" column="notify_url" />
		<result property="outTradeNo" column="out_trade_no" />
		<result property="zfbTradeNo" column="zfb_trade_no" />
		<result property="openid" column="openid" />
		<result property="wxPrepayid" column="wx_prepayid" />
		<result property="wxTransactionId" column="wx_transaction_id" />
		<result property="status" column="status" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<select id="findAll"  resultType="list" resultMap="resultPc_current_accounts">
		SELECT * FROM
		pc_current_accounts
	</select>


	<!-- 插入 -->
	<insert id="insert" parameterType="Pc_current_accounts">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		INSERT INTO pc_current_accounts
			(trade_type,income,trade_no,terminal_type,park_id,out_trade_no,zfb_trade_no,openid,
			wx_prepayid,wx_transaction_id,status,return_url,notify_url)
		VALUES
			(#{tradeType},#{income},#{tradeNo},#{terminalType},#{parkId},#{outTradeNo},
			#{zfbTradeNo},#{openid},#{wxPrepayid},#{wxTransactionId},#{status},#{returnUrl},#{notifyUrl})
	</insert>
	<!-- 更新 -->
	<update id="update" parameterType="Pc_current_accounts">
		UPDATE pc_current_accounts
		<set>
			<if test="tradeType != null">trade_type=#{tradeType},</if>
			<if test="income != null">income=#{income},</if>
			<if test="tradeNo != null">trade_no=#{tradeNo},</if>
			<if test="terminalType != null">terminal_type=#{terminalType},</if>
			<if test="parkId != null">park_id=#{parkId},</if>
			<if test="outTradeNo != null">out_trade_no=#{outTradeNo},</if>
			<if test="zfbTradeNo != null">zfb_trade_no=#{zfbTradeNo},</if>
			<if test="wxPrepayid != null">wx_prepayid=#{wxPrepayid},</if>
			<if test="wxTransactionId != null">wx_transaction_id=#{wxTransactionId},</if>
			<if test="status != null">status=#{status}</if>
		</set>
		WHERE out_trade_no=#{outTradeNo}
		<if test="id != 0">AND id=#{id}</if>
	</update>
	<!-- 查询单个 -->
	<select id="search" parameterType="Pc_current_accounts"
		resultMap="resultPc_current_accounts">
		SELECT * FROM pc_current_accounts
		WHERE 1=1
		<if test="id != 0">AND id=#{id}</if>
		<if test="tradeType != null">AND trade_type=#{tradeType}</if>
		<if test="income != null">AND income=#{income}</if>
		<if test="tradeNo != null">AND trade_no=#{tradeNo}</if>
		<if test="terminalType != null">AND terminal_type=#{terminalType}</if>
		<if test="parkId != null">AND park_id=#{parkId}</if>
		<if test="outTradeNo != null">AND out_trade_no=#{outTradeNo}</if>
		<if test="zfbTradeNo != null">zfb_trade_no=#{zfbTradeNo}</if>
		<if test="openid != null">openid=#{openid}</if>
		<if test="wxPrepayid != null">AND wx_prepayid=#{wxPrepayid}</if>
		<if test="wxTransactionId != null">AND wx_transaction_id=#{wxTransactionId}</if>
		<if test="status != null">AND status=#{status}</if>
		LIMIT 1
	</select>
	<!-- 查询列表 -->
	<select id="searchList" parameterType="Pc_current_accounts"
		resultType="list" resultMap="resultPc_current_accounts">
		SELECT * FROM pc_current_accounts
		WHERE 1=1
		<if test="id != 0">AND id=#{id}</if>
		<if test="tradeType != null">AND trade_type=#{tradeType}</if>
		<if test="income != null">AND income=#{income}</if>
		<if test="tradeNo != null">AND trade_no=#{tradeNo}</if>
		<if test="outTradeNo != null">AND out_trade_no=#{outTradeNo}</if>
		<if test="terminalType != null">AND terminal_type=#{terminalType}</if>
		<if test="parkId != null">AND park_id=#{parkId}</if>
		<if test="outTradeNo != null">AND out_trade_no=#{outTradeNo}</if>
		<if test="zfbTradeNo != null">zfb_trade_no=#{zfbTradeNo}</if>
		<if test="openid != null">openid=#{openid}</if>
		<if test="wxPrepayid != null">AND wx_prepayid=#{wxPrepayid}</if>
		<if test="wxTransactionId != null">AND wx_transaction_id=#{wxTransactionId}</if>
		<if test="status != null">AND status=#{status}</if>
	</select>
	
	<select id="selectOpenidAndOrdernoByOuttradeno" resultType="map">
		SELECT openid, zfb_trade_no FROM pc_current_accounts WHERE out_trade_no={#out_trade_no}
	</select>
	
</mapper>